# .dockerignore
.git
.gitignore
README.md
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.dockerignore
Dockerfile*
docker-compose*
docker-compose.*.yml
.vscode
.idea
*.sqlite3
*.db
*.log
logs/
test/
tests/
temp/
tmp/
*.tmp
*.temp
.devcontainer/
.cache
.pytest_cache
.mypy_cache
.coverage
htmlcov/
dist/
build/
*.egg-info/
*.egg
.cpython-*
.ipynb_checkpoints
